!!!
%html
  %head
    %meta{charset:"utf-8"}
    
    /Always force latest IE rendering engine or request Chrome Frame
    %meta{content:"IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    /Use title if it's in the page YAML frontmatter
    %title
      = data.page.title || "The Middleman" 
    
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"
  
  %body{:class => page_classes}
    .header
      .wrapper
        .img
          %a.active{href:"/"}
            = image_tag "http://www.placehold.it/100x100"
        .me
          %p
            Hey there! My name is <span>Alex</span> and <br>I'm a <span>webdeveloper</span>. Wanna <br>know know more about &hellip; 
        %nav
          %ul
            %li
              = link_to "my work", "#", class:"active"
            %li
              = link_to "me"
              ?




    .content
      .wrapper
        = yield



    .footer
      .wrapper
        %p.copy
          © 2012 Alexander Flatscher,
          pattern by <a href="http://subtlepatterns.com/">subtlepatterns.com</a>
        %ul.social
          %li
            %a.icons-stackoverflow{href:"#"} stackoverflow
          %li
            %a.icons-github{href:"#"} github
          %li
            %a.icons-mail{href:"#"} mail
