!!!
%html.no-js{lang:"en"}
  %head
    %meta{charset:"utf-8"}
    
    /Always force latest IE rendering engine or request Chrome Frame
    %meta{content:"IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    
    /Use title if it's in the page YAML frontmatter
    %title
      = data.page.title || "The Middleman" 
    
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag "Stats"
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js", "modernizr", "paper", "jquery.scrollTo-1.4.3.1-min", "all"
  
  %body{:class => page_classes}
    %nav#nav.fastclick
      %a.menu_icon{href:"#nav"} <span class="icon">M</span><span class="close">X</span>
      %ul
        %li
          %a.welcome{href:"#welcome"} start
        %li
          %a.about{href:"#about"} about me
        %li
          %a.work{href:"#work"} my work
        %li
          %a.contact{href:"#contact"} contact me
    %canvas#bg_paper.bg
    #wrapper
      = yield

      %footer
        © 2013 Alexander Flatscher
