---
  title: Alexander Flatscher, web developer.
---

%section#welcome.slide{'data-background-hue' => '200'}
  .salutation
    .me
      = image_tag "me2.png"

    %p.hey
      Hey there!<br>
    %p.my
      My name is Alex and<br class="and_break">
      I'm a web developer.
    %p.wanna
      Wanna know more about me? Just scroll!
    %p.or
      (or use the navigation <span class="icon">&#xe000;</span> in the right upper corner...)


%section#about.slide{'data-background-hue' => '120'}
  %h1
    about me
  %p.then.hyphenate
    My full name is Alexander Flatscher and I live in Austria. I started (web-) programming at the age of 16 with JavaScript (and HTML table layouts... how foolish...). Now I've made my Bachelor of Science in Multi Media Technology with focus on web and communities at the University of Applied Sciences in Salzburg.
  %p.now.hyphenate
    Right now I mainly focus on developing websites and webapps with Ruby on Rails and JavaScript (with a CoffeScript flavor), although I know some other languages too, e.g. PHP, C++, Java (Android).
  %p.like.hyphenate
    In the web I like to animate objects and move things around. I like fancy and colorful designs and websites with clear edges. 

%section#work.slide{'data-background-hue' => '52'}
  %h1
    my work
  - data.works.each do |w|
    %article.item
      .image
        = image_tag "work/#{w.name.gsub(/[\s']/, ' ' => '_', '\'' => '').downcase}.png"
      .info
        %h2
          = w.name
        %p.categories
          - w.categories.each do |c|
            = (c == w.categories.last) ? "#{c}" : "#{c}, " 
        %p.description.hyphenate
          = w.description
        - if w.link.present?
          .link{:class => ("not_alone" if w.code.present?)}
            %a{href:"#{w.link}"}
              %span.text
                link
              %span.arrow
                >
        - if w.code.present?
          .code
            %a{href:"#{w.code}"}
              %span.text
                code
              %span.arrow
                >

%section#contact.slide{'data-background-hue' => '339'}
  %h1
    contact me
  %p.so
    So you wanna know even more about<br>me and my work or just get in touch?
  %p.just
    Just send me an email to <a href="mailto:alexander.flatscher@gmail.com">alexander.flatscher@gmail.com</a><br> or check out my <a href="https://github.com/billythetalented/">GitHub</a> repositories!


